@charset "utf-8";

/* * * * * * * *
* utility
* * * * * * * */

.page-wrapper {
    width: 100%;
    height: 320px;
    background-size: cover;
}

.page-head {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 15%;
}

.u-service-wrapper {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.service-text {
    padding-bottom: 100px;
}

.service-btn {
    color: #333;
    font-size: 18px;
    line-height: 3;
    background-color: #fff;
    border: 1px solid #333;
    padding: 20px 60px;
    position: relative;
}

.service-btn::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 30px;
    width: 12px;
    height: 12px;
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
    transform: rotate(-45deg);
}

.service-btn:hover {
    background-color: rgba(0,0,0,.2);
    transition: all .3s;
}

/* * * * * * * *
* キャスティング事業
* * * * * * * */

#page-casting {
    background-image: url("../images/casting-bg.png");
}

#page-casting p {
    top: 18%;
    left: 14%;
}

.casting {
    margin-top: 100px;
}

.casting__wrapper p {
    line-height: 1.8;
}

.casting-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
}

.casting-item {
    width: 400px;
}

.casting-item h3, .casting-item p {
    text-align: left;
    margin: 10px 0;
}

.casting-item p {
    line-height: 1.8;
}

.casting__image {
    margin-bottom: 25px;
}

/* * * * * * * *
* 実績一覧
* * * * * * * */

.archivement__wrapper {
    margin-bottom: 150px;
}

.archivement__text {
    margin-bottom: 80px;
}
.archivement__contents {
    display: flex;
    flex-wrap: wrap;
}

.archivement__image {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
}


.archivement__btn {
    margin: 70px auto;
}

/* * * * * * * *
* Kottyさん
* * * * * * * */

.cast__contents {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.cast__heading {
    margin-bottom: 80px;
}
.cast__item {
    margin: 0 50px 50px 50px;
}
.cast__image {
    width: 400px;
    height: 500px;
    background: #000;
}

.cast__name {
    font-size: 26px;
    padding-right: 60px;
    margin-bottom: 15px;
    position: relative;
    
}

.cast__name::before {
    content:attr(title);
    position: relative;
    font-size: 12px;
    color: #6c6c6c;
    top: -24px;
    left: 65px;    
}

.cast__name::after {
    content: url("../images/casting-kotty-icon.png");
    position: absolute;
    top: -10%;
}
.cast__info {
    width: 400px;
    text-align: left;
    margin-bottom: 30px;
    line-height: 1.8;
}

.cast__app {
    text-align: left;
    margin-bottom: 30px;
}

.cast__sns img {
width: 50px;
height: 50px;
margin-right: 10px;
}

.cast__link a {
    display: flex;
}

.cast__link img {
    margin-right: 20px;
}

.cast__link p {
    padding-top: 15px;
    font-weight: bold;
}

/* * * * * * * *
* スマホ対応
* * * * * * * */

@media screen and (max-width:768px) {
    
    .page-head {
        font-size: 8vw;
        top: 17%;
        left: 15%;
    }
    
    .service-heading {
        font-size: 28px;
        text-align: left;
        margin-bottom: 30px;
    }
    
    .service-text {
        padding-bottom: 50px;
    }
    
    .pc {
        display: none;
    }
    
    .casting-contents {
        padding: 0;
    }
    
    .casting-item {
        width: 100%;
        margin: 0 auto;
    }
    .casting__image {
        width: 100%;
        object-fit: cover;
    }
    
    .archivement__contents {
        flex-direction: column;
        padding: 0 15px;
    }
    
    .archivement__image {
        width: 100%;
        
    }
    .cast__contents {
        flex-direction: column;
    }
    
    .cast__item {
        margin: 10px 0px;
    }
    
    .cast__image {
        width: 100%;
        height: auto;
    }
    
    .cast__info {
        width: 100%;
    }
}

/* * * * * * * *
* 実績一覧
* * * * * * * */
#page-archivement {
    background-image: url("../images/archivement-bg.png");
}

.archivement {
    margin-top: 140px;
    margin-bottom: 100px;
}
.archivement-heading {
    text-align: left;
}

.archivement__wrapper {
    margin-bottom: 150px;
}

.archivement__contents {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap:20px;
}

.archivement__item {
    position: relative;
}

.archivement__image {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.archivement__item img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

/* * * * * * * * * *
* スマホ対応 Archivement
* * * * * * * * * */

@media screen and (max-width:768px) {

    .archivement {
        margin-top: 80px;
    }

    .archivement__contents {
        display: flex;
    }

    .archivement__item {
        width: 100%;
        height: auto;
    }

    .archivement__image {
        width: 100%;
        
    }
}

/* * * * * * * *
* 会社情報
* * * * * * * */

/* 社長メッセージ */
#page-company {
    background-image: url("../images/company-bg.png");
}

.p-message {
    margin-top: 100px;
    margin-bottom: 100px;
}

.p-message__wrapper {
    margin-top: 100px;
    text-align: left;
}


.p-message__heading {
    margin-bottom: 50px;
}
.p-message__contents {
    display: flex;
    justify-content: space-between;
}

.p-message__text {
    margin-right: 30px;
}

.p-message__text p {
    line-height: 2;
}
.p-message__person {
    position: relative;
}

.p-message__person__image {
    width: 200px;
    height: 300px;
    background: blue;
    position: relative;
    top: -10%;
    right: 0;
}

.p-message__person__text {
    width: 150px;
    height: 300px;
    background: pink;
    position: relative;
    top: 30%;
    right: 60%;
}

/* 会社概要 */
.company {
    margin-bottom: 100px;
}

.company__wrapper {
    text-align: left;
}

.company__heading {
    margin-bottom: 50px;
}

.company__table th {
    padding: 10px 50px 10px 0px;
}

/* * * * * * * * * *
* スマホ対応 Company
* * * * * * * * * */

@media screen and (max-width:768px) {

    #page-company p {
        top: 18%;
        left: 35%;
    }

    .p-message__contents {
        flex-direction: column;
    }
    
    .p-message__person {
        width: 100%;
        display: flex;
    }

    .p-message__person img {
        width: 50%;
        height: auto;
        object-fit: cover;
    }

    .p-message__person__text {
        top: 0;
        right: 0;
    }

    .company__table th {
        width: 20%;
        padding: 10px 10px 10px 0;
    }
}

/* * * * * * * * * *
* 制作事業
* * * * * * * * * */

#page-creative {
    background-image: url("../images/creative-bg.png");
}

#page-creative p {
    left: 40%;
}


/* * * * * * * * * *
* イベント事業
* * * * * * * * * */

#page-event {
    background-image: url("../images/event-bg.png");
}

#page-event p {
    left: 25%;
}
    
/* * * * * * * * * *
* マーケティング事業
* * * * * * * * * */

#page-marketing {
    background-image: url("../images/marketing-bg.png");
 }

/* * * * * * * * * *
* エントリー
* * * * * * * * * */

#page-entry {
    background-image: url("../images/entry-bg.png");
}

/* * * * * * * * * *
* お問い合わせ
* * * * * * * * * */

#page-contact {
    background-image: url("../images/contact-bg.png");
}

/* * * * * * * * * *
* 採用情報
* * * * * * * * * */

#page-recruit {
    background-image: url("../images/recruit-bg.png");
}

.r-company {
    margin-bottom: 140px;
}

.r-company__wrapper {
    margin: 100px auto;
    text-align: left;
}

.r-company__heading {
    margin-bottom: 50px;
}

.r-company__table body:first-child {
    margin-bottom: 50px;
}

tbody {
    vertical-align: top;
    line-height: 1.8;
    letter-spacing: 1.4px;
}

th {
    padding-right: 30px;
    white-space: nowrap;
}

.r-company-first {
    margin-bottom: 50px;
}

td {
    padding-bottom: 20px;
    
}

.recruit__heading {
    display: none;
}

/* * * * * * * * * *
* イベント実績
* * * * * * * * * */

#page-event-works {
    background-image: url("../images/event-works-bg.png");
}

/* * * * * * * * * *
* 事業内容
* * * * * * * * * */

#page-service {
    background-image: url("../images/service-bg.png");
}

/* スマホ対応 */
@media screen and (max-width:768px) {

#page-service p {
    top: 18%;
    left: 33%;
}

.page-service {
    margin-bottom: 100px;
}

}

/* * * * * * * * * *
* パートナー募集
* * * * * * * * * */

#page-partner {
    background-image: url("../images/partner-bg.png");
}
h2.partner-heading {
    font-size: 30px;
}

/* * * * * * * * * *
* シングルページ（仮）
* * * * * * * * * */
#page-single {
    background-image: url("../images/event-bg.png");
}

#page_works {
    width: 960px;
    text-align: left;
    margin: 130px auto;
}

#page_works h3 {
    font-size: 25px;
}

.single__heading {
    letter-spacing: 0.6px;
    margin-bottom: 35px;
}

.single_box {
    margin-top: 80px;
}

.single_box table{
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
}

.single_box tr {
    font-size: 18px;
    border-bottom: 1px solid #9c9c9c;
}

.single_box th, td {
    padding: 20px 0;
    vertical-align: middle;    
}

.single_box th {
    width: 200px;
}

.single__image {
	width: auto;
	height: auto;
}

.single_box h3 {
    position: relative;
    padding-bottom: 10px;

}
.single_box h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: #9c9c9c;
}

.single_box p {
	font-size: 15px;
	line-height: 4;
	margin: 20px 0 0;
}

.single_box p a {
    color: #1a0dab;
}

.single_box p a:hover {
    color: #1a0dab;
    text-decoration: underline;
}

/* スマホ対応 */

@media screen and (max-width:768px) {

    #page_works {
        width: 100%;
        margin: 50px auto;
    }

    #page-single p {
        top: 18%;
        left: 25%;
    }

    .single__image {
        width: 100%;
        height: auto;
    }

    .single_box {
        margin-top: 50px;
    }

    .single_box th {
        width: 100px;
        padding-right: 20px;
    }

    .single_box p {
        line-height: 2.0;
    }
}


