/* * * * * * * * 
* video
* * * * * * * */
.demo{
	background: #1c1b1d;
	width: 100%;
	height: 100vh;
	transition: .3s all;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    z-index: 100;

}
.demo.hide{
	background: #fff;
    opacity: 0;
    z-index: -100;
}
.demo > video{
	width: 100%;
}

/* * * * * * * * 
* header
* * * * * * * */

#header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 99;
    padding: 60px;
}


/*========= ナビゲーションドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
nav {
    color: #fff;
}

/*ナビゲーションを横並びに*/
nav ul {
    list-style: none;
    display: flex;
}

/*2階層目以降は横並びにしない*/
nav ul ul {
    display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li {
    position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 20px 50px;
    transition: all .3s;
}

nav ul li li a {
    padding: 10px 35px;
}

nav ul li a:hover {
    color: #777;
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::after {
    content: '';
    position: absolute;
    top: 28px;
    right: 5px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(135deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul {
    /*絶対配置で位置を指定*/
    text-align: left;
    position: absolute;
    left: 0;
    top: 62px;
    z-index: 4;
    /*形状を指定*/
    background: rgba(0, 0, 0, .3);
    width: 230px;
    /*はじめは非表示*/
    visibility: hidden;
    opacity: 0;
    /*アニメーション設定*/
    transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover>ul,
nav li.has-child ul li:hover>ul,
nav li.has-child:active>ul,
nav li.has-child ul li:active>ul {
    visibility: visible;
    opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a {
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
}

nav li.has-child ul li:last-child a {
    border-bottom: none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active {
    background: rgba(0, 0, 0, .3);
}


/* ハンバーガーメニュー */
.h-btn {
    /* ボタンの配置位置  */
    position: fixed;
    top: 32px;
    right: 16px;
    /* ボタンの大きさ  */
    width: 48px;
    height: 48px;
    /* 最前面に */
    z-index: 10;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
    display: block;
    position: relative;
    /* バーガー線の位置基準として設定 */
    width: 100%;
    /* 線の長さと高さ */
    height: 4px;
    background-color: #d6d5d5;
    /* バーガー線の色 */
    transition: .2s;
}

/****** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    background-color: #d6d5d5;
    transition: .5s;
}


.btn-line::before {
    /* 上の線の位置 */
    transform: translateY(-16px);
}


.btn-line::after {
    /* 下の線の位置 */
    transform: translateY(16px);
}

#g-nav.open {
    right: 0;
}

/***** メニューオープン時 *****/
.btn-line.open {
    background-color: transparent;
    /* 真ん中の線を透明に */
}

.btn-line.open::before,
.btn-line.open::after {
    content: "";
    background-color: #333;
    /* 上下の線の色を変える */
    transition: .2s;
}

.btn-line.open::before {
    transform: rotate(45deg);
    /* 上の線を傾ける */
}

.btn-line.open::after {
    transform: rotate(-45deg);
    /* 下の線を傾ける */
}


/* * * * * * * * 
* Main visual
* * * * * * * */

.main-visual {
    width: 100%;
    height: auto;
}

.main-visual video {
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: relative;

}

.main-visual img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.overlay {
    width: 100%;
    height: 700px;
    background: linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,.1));
    position: absolute;
    top: 0;
    left: 0;
}


/* * * * * * * * 
* Message
* * * * * * * */

.message {
    margin-bottom: 250px;
}

.message__wrapper {
    position: relative;
}

.message__contents {
    width: 95%;
    display: flex;
    position: absolute;
    top: -250px;
    left: 50px;
    margin: 0 auto;

}

.message__box {
    width: 42vw;
    height: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 60px;
    margin-right: 100px;
}

.message__heading {
    font-size: 4vw;
    font-weight: normal;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
}

.message__text {
    font-size: 1vw;
    text-align: left;
    line-height: 2.0;
    letter-spacing: 1.8px;
    padding-bottom: 0;
}

.message__btn {
    position: relative;
    width: 100%;
    height: auto;
    top: 85%;
}

.message__btn:hover {
    opacity: 0.7;
    transition: all .3s;
}

.message__btn::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 30px;
    width: 15px;
    height: 15px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
}

/* スクロールダウン */
/*1.フェードインアニメーションの指定*/
.scrollanime {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
 
/*2.上下の動きを指定*/
.downup {transform: translateY(100px);}
 
/* * * * * * * * 
* Service
* * * * * * * */

.service {
    margin-bottom: 250px;
    padding-top: 100px;
    position: relative;
}

.service__heading {
    width: 100%;
    font-size: 14vw;
    color: #eee;
    position: relative;
    top: .3em;
    margin: 0 auto;

}

.service__contents {
    position: relative;
}

.service__contents>img {
    width: 100%;
    height: auto;
}

.service__marketing {
    position: absolute;
    bottom: 53%;
    right: 52.3%;
}

.service__item {
    position: absolute;
    width: 47%;
    height: 52%;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.service__item-marketing {
    bottom: 50.5%;
    left: .5%;
}

.service__item-event {
    bottom: 50.5%;
    right: 0;
}

.service__item-cast {
    top: 50%;
    left: 0;
}

.service__item-creative {
    top: 50%;
    right: 0;
}

.box,
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 50%;
    display: block;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.service__item img {
    opacity: 0;
}

.service__item:hover img {
    opacity: 1;
}


/* * * * * * * * 
* Works
* * * * * * * */
.works {
    margin-bottom: 250px;
}

.work-heading {
    position: relative;
}

.work-heading::before {
    content: attr(title)"";
    display: block;
    position: relative;
    top: -40%;
    left: 0;
    font-size: .5em;
    font-weight: normal;
    margin: 0 auto;
}

.works__contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.works__item {
    width: 350px;
    height: auto;
    position: relative;
}

.works__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #333;
}

.works__txt-box {
    height: 100px;
    padding: 20px 5px;
    text-align-last: left;
}

.works__btn {
    position: relative;
}

.works__btn:hover {
    opacity: 0.7;
    transition: all .3s;
}

.works__btn::after {
    content: "";
    position: absolute;
    top: 22px;
    right: 20px;
    width: 15px;
    height: 15px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
}

/* * * * * * * * 
* Information
* * * * * * * */

.infomation {
    margin-bottom: 250px;
}

.information-heading {
    position: relative;
}

.infomation-heading::before {
    content: attr(title)"";
    position: relative;
    display: block;
    top: -40%;
    left: 0;
    font-size: .5em;
    font-weight: normal;
}

.fa-twitter {
    color: #1DA1F2;
}

/* * * * * * * * 
* Recruit
* * * * * * * */

.recruit {
    margin-bottom: 130px;
}

.recruit__wrapper {
    width: 100%;
    height: 350px;
    background-image: url("assets/images/recruit.png");
}

.recruit-heading {
    padding-top: 75px;
    margin-bottom: 35px;
    color: #fff;
}

.recruit__text {
    margin-bottom: 30px;
    color: #fff;
}

.recruit__btn {
    position: relative;
}

.recruit__btn:hover {
    opacity: 0.7;
    transition: all .3s;
}

.recruit__btn::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 20px;
    width: 15px;
    height: 15px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
}

/* * * * * * * *
* footer
* * * * * * * */

.footer {
    height: auto;
    background-color: #f6f6f6;
}

.footer__contents {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 50px;
}

.footer__logo__area {
    text-align: left;
    width: 300px;
}

.footer__logo__area li {
    line-height: 2.0;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
}

.footer__nav ul {
    margin-left: 50px;
}

.footer__nav li {
    line-height: 2.0;
}

.footer__company-name {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.footer__nav-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.copyright {
    font-size: 13px;
}

/* * * * * * * *
* スマホ対応
* * * * * * * */

/* * * * * * * *
* base
* * * * * * * */

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

 /* * * * * * * * *
  * utility
  * * * * * * * * */

    .u-heading {
        font-size: 28px;
    }

    .u-title {
        text-align: left;
    }

    .u-text {
        font-size: 14px;
        text-align: left;
        padding-bottom: 32px;
    }

}


/* * * * * * * *
* header
* * * * * * * */

@media screen and (min-width: 768px) {
    .h-btn {
        display: none;
    }
}

@media screen and (max-width:768px) {
    #header {
        padding: 60px 10px;
    }

    .header__logo img {
        width: 80%;
    }

    nav {
        background: rgba(0, 0, 0, .5);
        color: #fff;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -70%;
        width: 70%;
        height: 100vh;
        padding: 80px 10px;
    }

    nav ul {
        display: block;
    }

    nav ul li a {
        color: #fff;
    }

    nav ul li a:hover {
        color: #eee;
    }
    
    nav li.has-child ul,
    nav li.has-child ul ul {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        visibility: visible;
        /*JSで制御するため一旦表示*/
        opacity: 1;
        /*JSで制御するため一旦表示*/
        display: none;
        /*JSのslidetoggleで表示させるため非表示に*/
        transition: none;
        /*JSで制御するためCSSのアニメーションを切る*/
    }

    nav ul li a {
        border-bottom: 1px solid #ccc;
    }

    /*矢印の位置と向き*/

    nav ul li.has-child::before {
        left: 20px;
    }

    nav ul ul li.has-child::before {
        transform: rotate(135deg);
        left: 20px;
    }

    nav ul li.has-child.active::before {
        transform: rotate(-45deg);
    }

}

/* * * * * * * *
* Main visual
* * * * * * * */

@media screen and (max-width:768px) {
    .main-visual video {
        height: 500px;
        /* スマホは画像で対応するか */
    }

    /* * * * * * * *
    * Mesage
    * * * * * * * */
    .message {
        margin-bottom: 250px;
    }

    .message__contents {
        width: 100%;
        flex-direction: column;
        top: -100px;
        left: 0;
    }

    .message__heading {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .message__box {
        width: 100%;
        padding: 30px 30px 0 30px;
        margin-bottom: 30px;
    }

    .message__btn {
        padding: 50px;
        top: 0;
    }


    /* * * * * * * *
    * Service
    * * * * * * * */
    .service {
        margin-bottom: 80px;
    }

    .service__heading {
        width: 100%;
        font-size: 18vw;
        left: 0;
    }

    /* * * * * * * *
    * Works
    * * * * * * * */
    .works {
        margin-bottom: 80px;
    }

    .work-heading {
        margin-bottom: 30px;
    }

    .works__contents {
        flex-direction: column;
    }

    .works__item {
        width: 100%;
    }

    .works__btn {
        padding: 50px;
        top: 0;
    }


/* * * * * * * *
* Information
* * * * * * * */

    .infomation {
        margin-bottom: 80px;
    }

    .infomation-heading {
        margin-bottom: 30px;
    }

    /* * * * * * * *
* Recruit
* * * * * * * */
    .recruit {
        margin-bottom: 50px;
    }

    .recruit__btn {
        padding: 50px;
        top: 0;
    }

    .recruit__text {
        text-align: center;
    }

/* * * * * * * *
* footer
* * * * * * * */
    .footer__contents,
    .footer__nav {
        flex-direction: column;
        text-align: left;
    }

    .footer__nav-title {
        padding: 0;
        margin-top: 20px;
    }

    .footer__nav ul {
        margin-left: 0;
    }

}
